////
/// @group layout
////
/// [1] All Grid Layouts
.grid {
    display: grid;
    grid-gap: 2vw;
    @include media("<tablet") {
        grid-gap: 20px;
    }
}
.gr-1-2 {
    display: grid;
    @include media(">=650px") {
        grid-template-columns: 1fr 2fr;
    }
}
.gr-2-1 {
    display: grid;
    grid-template-columns: 2fr 1fr;
}
/// [2] Repeating 2s
/// Grid 2, 1
.gr-2 {
    grid-template-columns: repeat(1, 1fr);
    @include media(">=650px") {
        grid-template-columns: repeat(2, 1fr);
    }
}
/// [2] Quadriple Grid
/// Grid 4, 2, 1
.gr-4 {
    @include media("<500px") {
        grid-template-columns: repeat(1, 1fr);
    }
    @include media(">=500px", "<desktop") {
        grid-template-columns: repeat(2, 1fr);
    }
    @include media(">=desktop") {
        grid-template-columns: repeat(4, 1fr);
    }
}
.fl-gr-4 {
    display: grid;
    grid-template-columns: repeat(12, minmax(250px, 1fr));
}
