.cart_item {
    position: relative;
    border: 1px solid #f6f6f6;
    color: $font-color;
    display: flex;

    .amount {
        font-weight: bold;
        font-size: 1.1rem;
    }

    .product-details {
        position: relative;
        flex: 1;
        padding: 1rem 30px;
    }

    .product-subtotal {
        text-align: right;
        flex: 0;
    }

    .item_name {
        display: block;
        font-weight: bold;
        position: relative;
        @extend %accent;

        @include media("<tablet") {
            font-size: 1rem;
        }
        @include media(">=tablet") {
            font-size: 1.2rem;
        }
    }

    .product-subtotal {
        padding-left: 0.5rem;
    }

    a.remove {
        border-radius: 3px;
        border-color: #000;
        letter-spacing: 0.8px;
        margin-top: 1rem;

        &:hover {
            border-color: map-get($generic, "red");
            background-color: map-get($generic, "red");
        }
    }

    + .cart_item {
        margin-top: 1rem;
    }
}

.cart-collaterals {
    @include media(">=pc") {
        flex: 0 0 300px;
    }
}

.variation {
    line-height: 1.5;
    font-size: 14px;
    dt {
        font-weight: bold;
    }

    dd + dt {
        margin-top: 5px;
    }
}

.quantity {
    position: relative;

    .unit_name {
        font-size: 12px;
        text-transform: uppercase;
    }

    // .unit_name {
    //     position: absolute;
    //     right: 0;
    //     top: -11px;
    //     font-size: 10px;
    // }
}

input.qty[type="number"] {
    width: 4rem;
}

.cart_totals {
    background-color: #f6f6f6;
    padding: 1rem;

    .shop_table {
        width: 100%;
    }

    .wrap > div {
        display: flex;
        justify-content: space-between;
        margin: 1rem 0;
    }
}

.actions {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.coupon {
    display: inline-flex;
}

#billing_address_2_field {
    align-self: end;
}
