.cart_item {
    color: $font-color;
    + .cart_item {
        border-top: 1px solid desaturate($color: lighten($primary, 45%), $amount: 40%);
        margin-top: 20px;
        padding-top: 20px;
    }
    .amount {
        display: block;
        font-size: 16px;
    }
    span.qty {
        color: lighten($font-color, 30%);
    }
    // Left Col
    .product-detail {
        flex: 1;
    }
    .product-subtotal {
        text-align: right;
    }
    .product-name {
        color: #000;
        display: block;
        font-weight: bold;
        margin-bottom: 5px;
        @include media("<tablet") {
            font-size: 1rem;
        }
        @include media(">=tablet") {
            font-size: 1.2rem;
        }
    }
    a.remove {
        border-color: #000;
        border-radius: 3px;
        margin-top: 1rem;
        &:hover {
            background-color: map-get($generic, "red");
            border-color: map-get($generic, "red");
        }
    }
}
.variation {
    color: lighten($font-color, 15%);
    line-height: 1.5;
    font-size: 14px;
    dt {
        font-weight: bold;
    }
    dd + dt {
        margin-top: 5px;
    }
}
.quantity {
    position: relative;
    .unit-name {
        display: block;
        font-size: 12px;
        text-transform: uppercase;
    }
    input.qty {
        margin-top: 0;
        padding: map-get($inputs, "small");
    }
}
input.qty[type="number"] {
    width: 4rem;
}
.cart_totals {
    background-color: #f6f6f6;
    padding: 1rem;
    .shop_table {
        width: 100%;
    }
    .wrap > div {
        display: flex;
        justify-content: space-between;
        margin: 1rem 0;
    }
}
.actions {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    [name="update_cart"] {
        align-self: stretch;
    }
}
a.shipping-calculator-button {
    float: right;
    margin-top: 10px;
    white-space: pre;
}

.shipping-calculator-form {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 5px;
    width: 100%;
}

a.checkout-button {
    width: 100%;
}
.cart .coupon {
    display: flex;
    margin-top: 1rem;
    #coupon_code {
        margin-right: -1px;
    }
}
#billing_address_2_field {
    align-self: end;
}
