.woocommerce-notices-wrapper {
    margin-bottom: 30px;

    [role="alert"] {
        background-color: var(--primary-color, #76a5af);
        border-radius: 5px;
        border: 1px solid var(--primary-color, #76a5af);
        color: #2b434a;
        font-size: 0.85rem;
        font-weight: bold;
        letter-spacing: 1px;
        margin-left: auto;
        margin-right: auto;
        padding: 1.5rem;
        text-transform: uppercase;

        @include media("<tablet") {
            width: 88%;
        }

        @include media(">=tablet") {
            width: 70%;
            max-width: var(--gutter-compact, map-get($sizes, "compact-width"));
        }
    }

    a {
        color: #000;
    }

    ul {
        list-style: none;
    }

    span.product-name {
        color: #fff;
    }
}