.woocommerce-error,
.woocommerce-info,
.woocommerce-message {
    position: relative;
    background-color: #f7f7f7;
    border-radius: 2px;
    border-width: 0 0 0 4px;
    border-style: solid;
    color: #252525;
    font-size: 0.85rem;
    font-weight: bold;
    line-height: 1.5;
    list-style: none inside;
    margin: 0 0 15px;
    overflow: hidden;
    padding: 1.5rem;
    width: 100%;
}

a.view-cart {
    float: right;
}

.woocommerce-message,
.woocommerce-info {
    border-color: #ddd;
}

.woocommerce-error {
    border-color: map-get($map: $generic, $key: "red");
}

// .woocommerce-info {
//     background-color: #EEE;
//     border-radius: 5px;
//     border: 1px solid #EEE;
//     color: darken($primary, 15%);
//     font-size: 0.85rem;
//     line-height: 1.5;
//     font-weight: bold;
//     margin-left: auto;
//     margin-right: auto;
//     padding: 1.5rem;
// }

// [role="alert"] {
//     background-color: desaturate($color: lighten($primary, 25%), $amount: 15%);
//     border-radius: 5px;
//     border: 1px solid desaturate($color: lighten($primary, 25%), $amount: 15%);
//     color: darken($primary, 15%);
//     font-size: 0.85rem;
//     line-height: 1.5;
//     font-weight: bold;
//     margin-left: auto;
//     margin-right: auto;
//     padding: 1.5rem;
// }
