form#loginform {
    max-width: 320px;

    @include media(">=650px") {
        max-width: 420px;
    }

    label {
        display: block;
    }

    input:not([type="checkbox"]) {
        width: 100%;
    }

    p + p {
        margin-top: 1rem;
    }

    .nsl-container {
        text-align: center;
        padding: 0;
    }
}
