.hr {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #919191;
    margin: 0.65rem 0;
    &::before,
    &::after {
        content: "";
        display: inline-block;
        height: 1px;
        width: 40%;
        background-color: #d5d5d5;
    }
}
.acc-form {
    background: #f8f8f8;

    box-shadow: 0px 0px 14px 0 #00000021;
    border-radius: 5px;
    max-width: 420px;
    margin: auto;

    @include media("<tablet") {
        padding: 25px;
    }
    @include media(">=tablet") {
        padding: 50px;
    }
}
