/**
 * Typography
 * @package    srlab
 * @author     Jaein Lee
 * @version    1.04
 */
@font-face {
    font-family: "Span Font";
    src: url("../../assets/fonts/Span-Bold.ttf") format("truetype");
    font-weight: 400;
    font-display: swap;
}
@font-face {
    font-family: "Modelica";
    src: url("../../assets/fonts/BwModelica-Light.woff2") format("woff2"),
        url("../../assets/fonts/BwModelica-Light.ttf") format("truetype");
    font-weight: 300;
    font-display: block;
}
@font-face {
    font-family: "Modelica";
    src: url("../../assets/fonts/BwModelica-Regular.woff2") format("woff2");
    font-weight: 400;
    font-display: block;
}
@font-face {
    font-family: "Modelica";
    src: url("../../assets/fonts/BwModelica-Bold.woff2") format("woff2"),
        url("../../assets/fonts/BwModelica-Bold.ttf") format("truetype");
    font-weight: 700;
    font-display: block;
}
// : Font Stack ://
$admin-font-stack: "Poppins", sans-serif;
$code-font-stack: Consolas, Monaco, monospace;
$font-stack: "Poppins", "Segoe UI", sans-serif !default;
$header-stack: "Span Font", "Poppins", "Segoe UI", sans-serif;
$body-stack: "Modelica", sans-serif;

// [1] Base Font
body,
input,
button {
    font-size: 14px;
    font-family: $body-stack;
    color: $font-color;
}
// [2] Links
a {
    color: var(--primary-color, $primary);
    &:hover,
    &:active {
        color: var(--font-color, $font-color);
    }
}
h2,
.hd--3 {
    font-weight: bold;
    text-transform: capitalize;
}

.hd--1 {
    font-size: 1.675rem;
    @include media(">=desktop") {
        font-size: 2.1875rem;
    }
}
form h3,
.hd--3 {
    @include media("<650px") {
        font-size: 20px;
    }
    @include media(">=650px", "<desktop") {
        font-size: 1.1875rem;
    }
    @include media(">=desktop") {
        font-size: 1.3875rem;
    }
}
strong {
    font-weight: bold;
}

.title {
    @extend %accent;
    font-family: $header-stack;
    &.center::after {
        margin: 0.5rem auto 1rem auto !important;
    }
}

.hdr {
    font-family: $header-stack;
}
.super-heading {
    font-weight: 200;
    font-size: 0.8rem;
}
body.home {
    h2.title {
        @extend %accent;
    }
    @include media(">=pc") {
        h2.title {
            font-size: 2.4rem;
        }
        .slide p {
            font-size: 1.1rem;
        }
    }
}
.mast {
    h2 {
        line-height: 1;
        font-size: 2.5em;
    }
    @include media(">=650px") {
        .super-heading {
            font-size: 0.9rem;
        }
        h2 {
            font-size: 3.2rem;
        }
        .svg-btn span {
            font-size: 1.1rem;
        }
    }
    @include media(">=pc") {
        .super-heading {
            font-size: 1.1rem;
        }
        h2 {
            font-size: 4.1rem;
        }
        .svg-btn span {
            font-size: 1.25rem;
        }
    }
}

nav#primary > ul > li > a {
    @include media("<tablet") {
        font-size: 1.18rem;
    }
    @include media(">=tablet") {
        font-size: 0.82rem;
    }
}
