button {
    cursor: pointer;
}

/// @group button
/// : Button Base
.b-cta, .b-ico, .btn {
    display: inline-flex;
    align-items: center;
    white-space: nowrap;
    position: relative;
    cursor: pointer;
}

a.btn {
    text-decoration: none;
}

a.--overlay {
position: absolute;
top: 0; left: 0; right: 0; bottom: 0;
}

.rnd {
    border-radius: 100px;
}

/// @group button
/// : Button Icon
.b-ico {
    justify-content: center;
}

/// @group button-style
/// Primary Button
/// Filled
/// Primary color - white text
/// Hover gray - white text
.pri--btn {
    background-color: var(--primary-color,$primary);
    border-color: var(--primary-color,$primary);
    color: #fff; // background color
    transition: all 100ms ease-in-out;

    &:hover {
        border-color: $font-color;
        background-color: $font-color;
        color: #fff; // background color
    }
}

/// @group button-style
/// Secondary Button
/// Filled
/// Secondary color - white text
/// Hover gray - white text
.sec--btn {
    background-color: transparent;
    border: 1px solid var(--secondary-color, $primary);
    color: var(--secondary-color, $primary); // background color
    transition: all 100ms ease-in-out;

    &:hover {
        color: #fff;
        background-color: $font-color;
        border-color: $font-color;
    }
}

/// @group button-style
/// Tertiary Button
/// Hollow
/// Border primary - primary text
/// Hover gray
.ter--btn {
    background-color: transparent;
    border-color: var(--primary-color,$primary);
    color: var(--primary-color,$primary);
    transition: all 100ms ease-in-out;

    &:hover {
        color: $font-color;
        border-color: $font-color;
    }
}

/// @group button-style
/// Quaternary Button
/// Hollow
/// Border primary - primary text
/// Hover gray
.qua--btn {
    background-color: transparent;
    border-color: var(--secondary, $secondary);
    color: var(--secondary, $secondary);
    transition: all 100ms ease-in-out;

    &:hover {
        color: $font-color;
        border-color: $font-color;
    }
}

/// @group button-style
/// Primary Button
/// Filled
/// Primary color - white text
/// Hover gray - white text
.fill--btn {
    background-color: transparent;
    border-color: var(--primary-color,$primary);
    color: var(--primary-color,$primary);
    transition: all 100ms ease-in-out;

    &:hover {
        background-color: var(--primary-color,$primary);
        color: #fff; // background color
    }
}

.draw--btn {
    @include btn-border-drawing(#58afd1, #ffe593, 4px, bottom, right);
    &:focus { outline: 2px dotted #55d7dc; }
  }
.rm-chev-right {
    display: inline-flex;
    align-items: center;
    padding: 10px 56px 10px 16px;
    background-color: #f1f1f1;
    color: #1d1d1d;
    position: relative;

    &::after {
        content: "\f345";
        align-items: center;
        background-color: var(--primary-color,$font-color);
        color: #fff;
        display: inline-flex;
        font-family: dashicons;
        font-size: 20px;
        height: 100%;
        justify-content: center;
        right: 0;
        position: absolute;
        width: 40px;
        transition: all 120ms ease;
    }

    &:hover::after {
        background-color: #f1f1f1;
        color: var(--primary-color,$font-color);
    }
}
