.sm {
    font-family: "Dashicons";
    font-size: 22px;
    background-color: var(--primary-color, $primary);
    color: var(--font-color, $font-color);
    border-radius: 3px;
    + .sm {
        margin-left: 6px;
    }
    &:hover {
        background-color: #fff;
    }
    &.instagram::after {
        content: "\f12d"; // NO BOX
    }
    &.twitter::after {
        content: "\f301"; // NO BOX
    }
    &.facebook::after {
        content: "\f305"; // NO BOX
    }
}
footer {
    .social-media .sm {
        width: 28px;
        height: 28px;
        &:hover {
            color: var(--font-color, $font-color);
        }
        span {
            text-indent: -9999px;
        }
    }
}
